<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Bootstrap Core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/stylish-portfolio.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="/homepage">homepage</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="/allProfessor">all professors</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="/newProfessor">add your professor right now</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="/searchClass">search by class</a>
      </li>
      </li>
    </ul>
  </nav>

  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <!-- <h1 class="mb-1">Stylish Portfolio</h1>
      <h3 class="mb-5">
        <em>A Free Bootstrap Theme by Start Bootstrap</em>
      </h3>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a> -->
    </div>
    <div class="overlay"></div>

    <h1>Search by your class!!</h1>


  <form class="form-signin" method = 'GET' action = ''>
    <label class="sr-only">class number:</label>
    <input id='a' type = 'Number' name = 'code' class="form-control" placeholder="class number" required>
  <button type = submit class="btn btn-lg btn-primary btn-block">here we go</button>
  </form>

  <p>{{text}}</p>
  {{#each array}}
  <br><a href='/homepage/{{this}}'>{{this}}</li></br>
  {{/each}}
  </header>

  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="js/stylish-portfolio.min.js"></script>


</body>

</html>









